<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin login</title>
</head>
<body>
    <h1>Admin Login</h1>
    <p>Enter the admin username & password below.</p>
    <form th:action="@{/login}" method="post">
        <input type="text" name="username" placeholder="Username" />
        <input type="password" name="password" placeholder="Password" />
        <button type="submit">Log in</button>
    </form>


    <script th:if="${error}" th:inline="javascript">
        alert("Incorrect password.");
    </script>

</body>
</html>