<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Products</title>
</head>
<body>
    <h1>Available Products</h1>
    <table>
        <tr>
            <th>Column</th>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
        </tr>
        <tr th:each="product : ${products}">
            <td th:text="${product.columnId}"></td>
            <td th:text="${product.name}"></td>
            <td th:text="${product.price}"></td>
            <td th:text="${product.quantity}"></td>
        </tr>
    </table>
    <textarea th:if="${#lists.isEmpty(products)}" th:text="'No products available.'"></textarea>

    <!--only shown to unauthenticated users-->
    <form th:if="${!adminflag}" th:action="@{/buy}" method="post">
        <label for="columnId">Enter Product Column:</label>
        <input type="text" id="columnId" name="columnId" />
        <button type="submit">Buy product</button>
    </form>
    <p th:if="${!adminflag}"><a href="/">Back to Home</a></p>

    <script th:if="${iderror}" th:inline="javascript">
        alert("Invalid column number.");
    </script>

    <script th:if="${stockerror}" th:inline="javascript">
        alert("Insufficient stock.");
    </script>

    <script th:if="${success}" th:inline="javascript">
        alert("Product dispensed!");
    </script>

    <!--only shown to authenticated admin-->
    <p th:if="${adminflag}"><a href="/adminpanel">Back to admin panel</a></p>
</body>
</html>
